<div class="job">
  <div class="row">
    <div class="col-md-12">
      <img class="icon-job-type"
        ng-src="assets/images/job-type-{{ vm.type }}.svg" alt="job type icon" />
      <div class="grid-item name">{{ vm.name }}</div>
      <div class="grid-item owner">{{ vm.owner }}</div>
      <div class="grid-item timestamp">{{ vm.timestamp | date:'M/dd/yyyy h:mm a' }}</div>
      <div class="grid-item state">{{ vm.state }}</div>
      <div class="grid-item metrics">
        <div class="block"></div>
      </div>
      <div class="grid-item build">
        <div class="block"></div>
      </div>
      <div class="grid-item unit-test">
        <div class="block"></div>
      </div>
      <div class="grid-item functional-test">
        <div class="block"></div>
      </div>
    </div>
  </div>
  <div class="row" ng-if="vm.isOpen">
    <div class="col-md-12">
      <aspect class="aspect-container" type="metrics" details="vm.metrics"></aspect>
      <aspect class="aspect-container" type="build" details="vm.build"></aspect>
      <aspect class="aspect-container" type="unitTest" details="vm.unitTest"></aspect>
      <aspect class="aspect-container" type="functionalTest" details="vm.functionalTest"></aspect>
      <aspect class="aspect-container outcome" type="outcome" details="vm.outcome"></aspect>
    </div>
  </div>
</div>
