.header {
  margin-top: 20px;
}

.grid-header {
  font-weight: bold;

  .name {
    margin-left: 20px;
  }
}

.grid-item {
  display: inline-block;
  vertical-align: middle;

  &.name {
    width: 18%;
  }

  &.owner {
    width: 10%;
  }

  &.timestamp {
    width: 15%;
  }

  &.state {
    width: 10%;
    text-transform: capitalize;
  }

  &.metrics {
    width: 10%;
    text-align: center;
  }

  &.build {
    width: 10%;
    text-align: center;
  }

  &.unit-test {
    width: 10%;
    text-align: center;
  }

  &.functional-test {
    width: 10%;
    text-align: center;
  }
}
